.header-card {
  background-color: var(--header-background-color);
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
}

.ui-display-card {
  background-color: var(--card-background-color-1);
  width: 80%;
  max-width: 50rem;
  position: relative;
  margin: min(9rem, 28vh) auto;
  padding: 1rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  overflow: hidden;
}

@media screen and (max-height: 512px) {
  .ui-display-card{
      margin-top: 4.5rem;
  }
}

@media screen and (max-width: 316px) {
  .ui-display-card{
      background-color: transparent;
  }
}