.content-display {
  text-align: center;
}

.desciption-text {
  max-width: 20rem;
  text-align: center;
  margin: 0 auto;
  font-size: max(0.5rem, 0.95rem);
}

@keyframes top-bottom-animation {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes right-left-animation {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes right-left-animation-1 {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes left-right-animation {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes left-right-animation-1 {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}