.carrossel-position-controler {
  margin-left: -3rem;
}

.positional-circle {
  width: max(0.4rem, 0.7rem);
  height: max(0.4rem, 0.7rem);
  border-radius: 50%;
  background-color: var(--secundary-text-color);
  list-style: none;
  display: inline-block;
  margin-left: 0.6rem;
}

#active {
  background-color: var(--primary-text-color);
}

@media screen and (max-height: 512px) {
  .positional-circle {
    width: 0.4rem;
    height: 0.4rem;
  }
}
