.sub-menu {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 3.5rem;
  background-color: var(--card-background-color-1);
}

.admin-sub-menu {
  text-align: center;
  z-index: 20;
  margin: 0 auto;
  max-width: 20rem;
  padding: 0.5rem;
}

.sub-menu-items {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0.2rem;
  border-radius: var(--card-border-radius);
  transition: background-color 0.3s ease-in;
}

.sub-menu-items:hover {
  background-color: #ffffff65;
  border-radius: var(--card-border-radius);
}

.active-menu {
  background-color: var(--card-background-color-2);
  border-radius: var(--card-border-radius);
  box-shadow: rgba(56, 56, 56, 0.3) 0px 4px 10px;
}
