.team-grade-form {
  overflow: hidden;
}

.show {
  animation: show-form 1s ease-in-out;
}

.hidde {
  display: none;
}

.team-ajust{
    display: inline-grid;
    width: 30%;
    min-width: 12rem;
    max-width: 20rem;
}

.display-team-name{
    font-weight: bold;
    font-size: min(3vh, 1.5rem);
}

.group-members, .team-grade-form{
    background-color: var(--card-background-color-1);
    border-radius: var(--card-border-radius);
    padding: 1rem;
}

.team-element-name{
    font-weight: bold;
}

.team-element-email{
    font-weight: bold;
    font-size: min(5vh, .7rem);
    color: var(--secundary-text-color);
}

.grade-matrics{
    list-style: none;
    margin-left: -2rem;
    margin-bottom: 1rem;
}

.grade-matrics-item{
    display: inline-block;
    list-style: none;
}

.team-button-ajust{
  margin-top: .5rem;
}

.grade-title{
  font-weight: bold;
}

.grade-matrics-input {
  margin-top: .5rem;
    width: 4rem;
    height: 1.5rem;
    padding-left: .5rem;
    border: none;
    background-color: var(--input-box-background-color);
    border-radius: var(--button-border-radius);
}

.graded-icon{
  width: 1.3rem;
  height: 1.3rem;
}

.team-not-graded{
  color: #9e9e9e;
}

.team-graded{
  color: #03a31e;
}

@keyframes show-form {
  from {
    transform: translateY(1rem);
    display: none;
  }
  to {
    transform: translateY(0rem);

    display: block;
  }
}
