:root {
  --background-color: #323643;
  --primary-text-color: #ffffff;
  --secundary-text-color: #b4b4b4;
  --card-background-color-1: #606470;
  --card-background-color-2: #494c54;
  --primary-button-background-color: #0066ff;
  --primary-button-background-hover-color: #0246ac;
  --secondary-button-background-color: #479ad1;
  --secondary-button-background-hover-color: #3b7196;
  --input-box-background-color: #a4a4a4;
  --header-background-color: #0f4c75;
  --alert-notification-color: #ff2222;
  --alert-notification-color-2: #00ff38;
  --not-top-3-grade-color: #05ff00;
  --top-3-grade-color: #faff00;
  --card-border-radius: 0.6rem;
  --button-border-radius: 0.3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow:scroll;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  padding: 0.5rem 0rem 0.5rem 0rem;
  text-align: center;
  border-radius: var(--button-border-radius);
  border: none;
  color: var(--primary-text-color);
  font-weight: bold;
  box-shadow: rgba(12, 12, 12, 0.3) 0px 8px 24px;
  transition: transform 0.2s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.ilustration {
  width: min(13rem, 50%);
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(41, 41, 41, 0.5));
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.secundary-button {
  width: 10rem;
  background-color: var(--secondary-button-background-color);
}

.secundary-button:hover {
  background-color: var(--secondary-button-background-hover-color);
}

.primary-button {
  width: 10rem;
  background-color: var(--primary-button-background-color);
}

.primary-button:hover {
  background-color: var(--primary-button-background-hover-color);
}

.link {
  color: #0066ff;
  font-style: normal;
  text-decoration: none;
}

.normal-text {
  font-size: min(3vh, 0.9rem);
}

.competition-text {
  width: 60%;
  margin: 0 auto;
  max-width: 15rem;
}

.icon {
  width: min(6vh, 1rem);
  color: var(--primary-text-color);
}

.icon:hover {
  transform: scale(1.15);
  cursor: pointer;
  color: var(--input-box-background-color);
}

@keyframes bottom-top-animation {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@media screen and (max-height: 512px) {
  body {
    overflow: auto;
  }
}
