:root {
  --background-color: #323643;
  --primary-text-color: #ffffff;
  --secundary-text-color: #b4b4b4;
  --card-background-color-1: #606470;
  --card-background-color-2: #494c54;
  --primary-button-background-color: #0066ff;
  --primary-button-background-hover-color: #0246ac;
  --secondary-button-background-color: #479ad1;
  --secondary-button-background-hover-color: #3b7196;
  --input-box-background-color: #a4a4a4;
  --header-background-color: #0f4c75;
  --card-border-radius: 0.6rem;
  --button-border-radius: 0.3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  padding: 0.5rem 0rem 0.5rem 0rem;
  text-align: center;
  border-radius: var(--button-border-radius);
  border: none;
  color: var(--primary-text-color);
  font-weight: bold;
  box-shadow: rgba(12, 12, 12, 0.3) 0px 8px 24px;
  transition: transform 0.2s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.ilustration{
  width: min(13rem, 50%);
  filter:drop-shadow(.5rem .5rem 1rem rgb(54, 54, 54));
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.secundary-button {
  width: 10rem;
  background-color: var(--secondary-button-background-color);
}

.secundary-button:hover {
  background-color: var(--secondary-button-background-hover-color);
}

.primary-button {
  width: 10rem;
  background-color: var(--primary-button-background-color);
}

.primary-button:hover {
  background-color: var(--primary-button-background-hover-color);
}
