.ilustration{
  width: min(13rem, 50%);
  filter:drop-shadow(.5rem .5rem 1rem rgb(43, 42, 43));
}

.controler-buttons {
  position: relative;
  margin-left: -4rem;
}
.controler-buttons li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: .3rem auto;
  margin-left: 1.5rem;
}

.controler-button{
  width: 6rem;
}
